.btn-secondary {
    --bs-btn-font-weight: 600 !important;
    --bs-btn-font-size: 2rem !important;
}

.w-33 {
    width: 33% !important;
}

.btn-close {
    filter: invert(1) !important;
    font-size: xx-large;
}

th, td {
    padding: 8px;
}

@media (max-width: 425px) {
    .col-6 {
        width: 75% !important;
    }
}