@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  /* 25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  } */
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1.5s ease-in-out infinite;
  width: 250px;
  height: 250px;
  transform-origin: center center;
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(135, 135, 135, 0.85);
  z-index: 5;
  backdrop-filter: blur(5px);
}
