.bg-navbar {
  background-color: rgb(6, 36, 46);
}
.bg-navbar .navbar-brand,
.bg-navbar .form-control,
.bg-navbar .btn {
  color: white;
}
.bg-navbar .form-control::placeholder {
  color: rgba(0, 0, 0, 0.7);
}
.bg-navbar .btn {
  border-color: white;
}
.bg-navbar .btn:hover {
  color: rgba(250, 250, 250, 0.75);
}
.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar-brand img {
  margin-right: 8px;
}
.form-control {
  max-width: 50rem;
  font-weight: bold;
  height: 5rem;
}
.navbar-brand:hover {
  color: rgba(200, 200, 200, 0.75) !important;
}
nav {
  margin-bottom: 20px;
}
.navbar {
  height: min-content;
}
.logo {
  width: 200px;
  height: 160px;
  padding-left: 64px;
}
.logo-text {
    width: 500px;
}
#pokemon-search {
  margin: 20px;
  padding: 10px;
  width: 50rem !important;
  font-size: 45px;
  color: black !important;
  height: 8rem;
}

@media (max-width: 1920px) {
    .logo {
        width: 160px;
        height: 120px;
    }
    .logo-text {
        width: 400px;
    }
    #pokemon-search {
        width: 32rem !important;
        font-size: 30px;
        height: 7rem;
    }
}

@media (max-width: 1440px) {
    .logo {
        width: 140px;
        height: 100px;
    }
    .logo-text {
        width: 320px;
    }
    #pokemon-search {
        width: 20rem !important;
        font-size: 16px;
        height: 5rem;
    }
}

@media (max-width: 1024px) {
    .logo {
        width: 120px;
        height: 80px;
    }
    .logo-text {
        width: 240px;
    }
    #pokemon-search {
        width: 15rem !important;
        height: 4rem;
    }
}

@media (max-width: 800px) {
    .logo {
        width: 60px;
        height: 40px;
        padding-left: 8px;
    }
    .logo-text {
        width: 180px;
    }
    #pokemon-search {
        margin: 0;
        margin-right: .25rem !important;
        width: 13rem !important;
        height: 3rem;
    }
}
@media (max-width: 600px) {
    .logo {
        width: 40px;
        height: 30px;

    }
    .logo-text {
        width: 120px;
    }
    #pokemon-search {
        width: 9.9rem !important;
        font-size: 12px;
        height: 2.5rem;
    }
    .p-0 {
        padding: 12px !important;
    }
}

@media (max-width: 425px) {
    .logo {
        display: none;
    }
    .logo-text {
        width: 120px;
    }
    #pokemon-search {
        width: 9.2rem !important;
        font-size: 10px;
        height: 2.5rem;
    }
}