body {
    background-color: rgb(4,23,33) !important;
    background-image: url("../assets/img/body_bgr.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: space-between !important;
    margin: auto !important;
}

header{
    width: -webkit-fill-available;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.d_none {
    display: none !important;
}

.m-width-1920 {
    max-width: 1920px !important;
}

.modal-active {
    display: block !important;
    opacity: 1 !important;
    backdrop-filter: brightness(0.5);
    transition: 125ms;
}

.modal-active-bg {
    filter: blur(8px);
    overflow-y: hidden;
    pointer-events: none;
    transition: 125ms;
}