body {
    background-color: rgb(4,23,33) !important;
    color: white !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    max-width: 1920px;
}

header{
    width: -webkit-fill-available;
}