.normal {
    background-color: #ABACAC;
}
.fighting {
    background-color: #FFA704;
}
.flying {
    background-color: #9DD3FF;
}
.poison {
    background-color: #9D4FD6;
}
.ground {
    background-color: #D97746;
}
.rock {
    background-color: #C7B78B;
}
.bug {
    background-color: #90C12C;
}
.ghost {
    background-color: #5269AC;
}
.steel {
    background-color: #5A8EA1;
}
.fire {
    background-color: #FF9C54;
}
.water {
    background-color: #4D90D5;
}
.grass {
    background-color: #63BB5A;
}
.electric {
    background-color: #F4D23B;
}
.psychic {
    background-color: #F97176;
}
.ice {
    background-color: #73CEC0;
}
.dragon {
    background-color: #0A6DC4;
}
.dark {
    background-color: #5A5366;
}
.fairy {
    background-color: #EC8FE5;
}
.pokeball-bgr {
    background-image: url("../assets/img/pokeball_bgr.png");
    background-repeat: no-repeat;
    background-size: contain;
}